/* Empty. Add your own CSS if you like */
.menu-more{
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}
.loading-scroll i {
    font-size: 40px;
    margin-right: auto;
    margin-left: auto;
}