<ion-infinite-scroll on-infinite="loadMoreData()" icon="ion-loading-c" distance="1%"> 
		</ion-infinite-scroll>
	<div class="list card" ng-repeat="item in items">
		<div class="item item-avatar">
			<img src="{{item.owner.avatar}}">
			<h2>{{item.owner.name}}</h2>
			<p>{{item.owner.birth}}</p>
		</div>

		<div class="item item-body">
			<img class="full-image" src="{{item.img}}">
			<p>
				{{item.description}}
			</p>
			<p>
				<a href="#" class="subdued"><span ng-bind="item.likes">{{item.likes}}</span> Like</a>
				<a href="#" class="subdued"><span ng-bind="item.comments">{{item.comments}}</span> Comments</a>
			</p>
		</div>

		<div class="item tabs tabs-secondary tabs-icon-left">
			<a class="tab-item" ng-click="like(item)" href="#">
				<i class="icon ion-thumbsup"></i>
				Like
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-chatbox"></i>
				Comment
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-share"></i>
				Share
			</a>
		</div>
	</div>


