<ion-view title="Login">
  <ion-content class="has-header padding">
	<form name="frmLogin" novalidate>
		<div class="list">
		  <label class="item item-input">
		    <input type="text" name="username" ng-model="frm.username" required placeholder="Usuário">
		  </label>
		  <label class="item item-input">
		    <input type="password" name="password" ng-model="frm.password" required placeholder="Senha">
		  </label>
		</div>
		<span ng-show="(frmLogin.username.$invalid && frmLogin.username.$dirty) || 
		(frmLogin.username.$invalid && frmLogin.submitted)" class="help-block">Usuário obrigatório</span>
		<span ng-show="(frmLogin.password.$invalid && frmLogin.password.$dirty) || 
		(frmLogin.username.$invalid && frmLogin.submitted)" class="help-block">Senha obrigatória</span>
		<span class="help-block">{{frm.error}}</span>
		<button type="button" class="button button-block button-positive" ng-click="submit()">
		  Enviar
		</button>
		<a class="button button-block button-positive" href="#/signin">
		  Cadastrar
		</a>
	</form>
  </ion-content>
</ion-view>