<ion-side-menus>
  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <div ui-view="tab"></div>
  </ion-pane>
  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Left</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
  <ion-side-menu side="right">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Right</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
