<ion-view name="" title="Profile">
	<ion-nav-buttons side="left">
		<button menu-toggle="left"class="button button-icon icon ion-gear-b"></button>
	</ion-nav-buttons>
	<ion-content class="has-header" ng-controller="TimelineCtrl">
		<ion-nav-view name="profile"></ion-nav-view>
		<ion-nav-view id="timeline" name="timeline"></ion-nav-view>
	</ion-content>
	<ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-icon icon ion-more menu-more" ></button>
	</ion-nav-buttons>
</ion-view>