<ion-view title="Login">
  <ion-content class="has-header padding">
	<form name="frmSignin" novalidate>
		<div class="list">
		  <label class="item item-input">
		    <input name="nome" type="text" ng-model="frm.nome" required placeholder="Nome">
		  </label>
		  <label class="item item-input">
		    <input name="email" type="email" ng-model="frm.email" required placeholder="Email">
		  </label>
		  <label class="item item-input">
		    <input name="username" type="text" ng-model="frm.username" required placeholder="Usuário">
		  </label>
		  <label class="item item-input">
		    <input name="password" type="password" ng-model="frm.password" required placeholder="Senha">
		  </label>
		</div>
		<span ng-show="(frmSignin.username.$invalid && frmSignin.username.$dirty) || 
		(frmSignin.username.$invalid && frmSignin.submitted)" class="help-block">Usuário obrigatório</span>
		<span ng-show="(frmSignin.password.$invalid && frmSignin.password.$dirty) || 
		(frmSignin.username.$invalid && frmSignin.submitted)" class="help-block">Senha obrigatória</span>
		<span ng-show="(frmSignin.nome.$invalid && frmSignin.nome.$dirty) || 
		(frmSignin.nome.$invalid && frmSignin.submitted)" class="help-block">Nome obrigatório</span>
		<span ng-show="(frmSignin.email.$invalid && frmSignin.email.$dirty) || 
		(frmSignin.email.$invalid && frmSignin.submitted)" class="help-block">Email obrigatório</span>
		<span class="help-block">{{frm.error}}</span>
		<button type="button" class="button button-block button-positive" ng-click="submit()">
		  Enviar
		</button>
	</form>
  </ion-content>
</ion-view>
