<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-only">
  <!-- Pets Tab -->
  <ion-tab icon="icon ion-ios7-search" href="#/search">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <!-- Adopt Tab -->
  <ion-tab icon="icon ion-home" href="#/profile">
    <ion-nav-view name="profileContainer"></ion-nav-view>
  </ion-tab>


  <!-- About Tab -->
  <ion-tab icon="icon ion-ios7-flag" href="#/notifications">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab icon="icon ion-ios7-chatbubble" href="#/chat">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <!-- Adopt Tab -->
  <ion-tab icon="icon ion-ios7-compose-outline" href="#/post">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>
</ion-tabs>