<ion-view name="" title="Dashboard">
	<ion-nav-buttons side="left">
		<button menu-toggle="left"class="button button-icon icon ion-gear-b"></button>
	</ion-nav-buttons>
	<ion-content class="has-header padding">
		<div class="list card">

			<div class="item item-avatar">
				<img src="mcfly.jpg">
				<h2>Marty McFly</h2>
				<p>November 05, 1955</p>
			</div>

			<div class="item item-body">
				<img class="full-image" src="delorean.jpg">
				<p>
					This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
					the content is from a card-body consisting of an image and paragraph text. The footer
					consists of tabs, icons aligned left, within the card-footer.
				</p>
				<p>
					<a href="#" class="subdued">1 Like</a>
					<a href="#" class="subdued">5 Comments</a>
				</p>
			</div>

			<div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" href="#">
					<i class="icon ion-thumbsup"></i>
					Like
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-chatbox"></i>
					Comment
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-share"></i>
					Share
				</a>
			</div>

		</div>
		<div class="list card">

			<div class="item item-avatar">
				<img src="mcfly.jpg">
				<h2>Marty McFly</h2>
				<p>November 05, 1955</p>
			</div>

			<div class="item item-body">
				<img class="full-image" src="delorean.jpg">
				<p>
					This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
					the content is from a card-body consisting of an image and paragraph text. The footer
					consists of tabs, icons aligned left, within the card-footer.
				</p>
				<p>
					<a href="#" class="subdued">1 Like</a>
					<a href="#" class="subdued">5 Comments</a>
				</p>
			</div>

			<div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" href="#">
					<i class="icon ion-thumbsup"></i>
					Like
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-chatbox"></i>
					Comment
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-share"></i>
					Share
				</a>
			</div>

		</div>
		<div class="list card">

			<div class="item item-avatar">
				<img src="mcfly.jpg">
				<h2>Marty McFly</h2>
				<p>November 05, 1955</p>
			</div>

			<div class="item item-body">
				<img class="full-image" src="delorean.jpg">
				<p>
					This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
					the content is from a card-body consisting of an image and paragraph text. The footer
					consists of tabs, icons aligned left, within the card-footer.
				</p>
				<p>
					<a href="#" class="subdued">1 Like</a>
					<a href="#" class="subdued">5 Comments</a>
				</p>
			</div>

			<div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" href="#">
					<i class="icon ion-thumbsup"></i>
					Like
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-chatbox"></i>
					Comment
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-share"></i>
					Share
				</a>
			</div>

		</div>
	</ion-content>
	<ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-icon icon ion-more menu-more" ></button>
	</ion-nav-buttons>
</ion-view>
